nav {
    background-color: #219ebc;
    color: #f0f0f0;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .logo {
        width: 55px;
        height: 55px;
    }

    .icon-menu {
        width: 35px;
        height: 35px;
        background: url('../../../assets/icons/menu.svg') no-repeat right center;
        background-size: cover;
    }
}

.menu {
    width: 100vw;
    height: 100vh;
    background-color: #000000a3;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    position: absolute;

    .menu-logo {
        width: 110px;
        height: 110px;
        margin: 2rem auto;
    }

    &-content {
        position: absolute;
        width: 90%;
        height: 100%;
        right: 0;
        background-color: #023047;
        overflow: auto;

        ul {
            list-style: none;
            li {
                display: block;
                padding: 1rem;
                font-size: 16px;
                border-bottom: 1px solid gray;
                opacity: 0.8;
                font-size: 24px;
                &:hover,
                &:active {
                    opacity: 1;
                }
            }
        }
    }
}