<div class="login">
    <img class="login-logo" src="../../assets/images/logo.svg" alt="G Logo">
    @if (!showVerification) {
        <form [formGroup]="loginForm" (submit)="manageLogin()">
            <div class="form-field" >
                <input formControlName="cui" type="text" autocomplete="off" name="cui" id="cui" placeholder="DPI">
               @if (!loginControls['cui'].pristine && loginControls['cui'].getError('minlength')) {
                <span class="error-message" >El número de DPI debe contener 13 dígitos</span>
               } @else if (!loginControls['cui'].pristine && loginControls['cui'].getError('pattern')) {
                <span class="error-message" >El número de DPI debe contener solo números</span>
               }
            </div>
            <div class="form-field">
                <input formControlName="password" type="password" name="password" id="password" placeholder="Contraseña">
                @if (!loginControls['password'].pristine && loginControls['password'].getError('minlength')) {
                    <span class="error-message" >La Contraseña debe contener por lo menos 5 dígitos</span>
                   }
            </div>
            <div class="form-field">
                <button type="submit" class="primary-button">Iniciar Sesión</button>
            </div>
        </form>
    } @else { 
        <form [formGroup]="verificationForm" (submit)="manageVerification()">
            <div class="form-field code" >
                <input formControlName="code" type="text" autocomplete="off" name="code" id="code" placeholder="Code">
                @if (!verificationControls['code'].pristine && verificationControls['code'].getError('minlength')) {
                    <span class="error-message" >El código debe contener por lo menos 6 dígitos</span>
                   }
            </div>
            <div class="form-field">
                <button type="submit" class="primary-button" [disabled]="verificationForm.invalid">Verificar</button>
            </div>
            <div class="form-field">
                <button type="button" class="accent-button fp-button" (click)="verifyWithFP()">
                    <img src="../../../../assets/icons/finger-print.svg" alt="">
                </button>
            </div>
        </form>
    }
</div>