/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    box-sizing: border-box;
    color: #1c1c1c;
    background-color: #FDFDFD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @media only screen and (min-width: 992px) {
            overflow: hidden !important;
        }
}

button {
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 1rem;
    border-radius: 8px;
    &:disabled {
        background-color: gray;
    }
}

.primary-button {
    background-color: #fb8500;
    color: #fdfdfd;
}

.accent-button {
    background-color: #ffb703;
    color: #fdfdfd;
}

.outlined-button {
    border: 3px solid #fb8500;
    background-color: transparent;
    color: #fb8500;
}

.logo {
    background-image: url('./assets/images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}